@model IEnumerable<Domain.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Catálogo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    <div class="row card-columns">
        @foreach (var item in Model) {
            <div class="card " style="max-width: 18rem;">
                <img src="~/Productos/ThumbNailPhoto/@item.ProductId" class="card-img" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.ProductCategory.Name</h6>
                    <p class="card-text">
                        <b>@Html.DisplayNameFor(model => model.ProductNumber):</b> @Html.DisplayFor(modelItem => item.ProductNumber)<br />
                        <b>@Html.DisplayNameFor(model => model.Size):</b> @Html.DisplayFor(modelItem => item.Size)
                        <b>@Html.DisplayNameFor(model => model.Weight):</b> @Html.DisplayFor(modelItem => item.Weight)<br />
                        <b>@Html.DisplayNameFor(model => model.ListPrice):</b> @Html.DisplayFor(modelItem => item.ListPrice) €<br />


                    </p>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_Paginacion" />
